language: java
dist: bionic
jdk: openjdk11

git:
  quiet: true

addons:
  sonarcloud:
    organization: "meta-attack-language"
    token:
      secure: "J+RqAUI5IHYgJA08XX0EzMhcxTZbD6r3UK6Z0+kyU8HRZUdgDyVmaIyCFnzBOOqePcQ6vFd6PHvFICFvIsdgV3h4C49IgCseYlRtiXPmXJQmoJcXBLsPMUal2ZbQsjeoDaHT9moAr9rLNmAVA/ThuJSVmxXGe0RTOqda61uZXBPeB5/0JSOObV4OHogiJ2zGrosetnafHUs2T80MXStMn7jFiQ5tzgj/oXasFw7FVV/mnkHpRosU/QUSDeZD+FRpwykWwIXRI/5hqK9EMhsvS0BEasyrPlSutVH8qU7v0lk9C0xffpIRAr9ahcwokIppIVGCY3tW7RWTBHAzzIDfR21hA8qbIR2CAPqf5hoNwrDnmbSCumRjOnVfiJAicW5wp8p1nX7JQJAhUeF/1E3CzdXHNrmkPcp3BA2Ug01I4LQxmz/IGEfsfA1mEP8mchPY2p0e5iHYTojgJMfyuqVgLdFhhTq/bED9rnElHEtbK9/Yt77Ws4iwXwGLMo3C6uFn3dhmiIvyaRZUjyjgU6TpuqFrujtH1LksbEtmH1tY/T9APbQFFxd6PzqaxYnRIlVdPrtb3ERQFGoHC5O0lieVZI26LaPwbmFdJgA6NqCrNiRf4fOYBQfsyFGqhbLHlayh4mqxlD05wserhkpDcmBHCR9/VF7Kqbh4/FB9JUv09tY="

before_install:
  - echo "Cloning maven-jlink-plugin..."
  - git clone --quiet --no-checkout https://github.com/apache/maven-jlink-plugin.git
  - cd maven-jlink-plugin
  - git checkout --quiet -b tmp d474b2d0c664faee2500fb3cb869898aca281b79
  - cd ..
  - echo "Cloning javapoet..."
  - git clone --quiet --depth 1 https://github.com/foreseeti/javapoet.git
  - echo "Cloning svgSalamander..."
  - git clone --quiet --depth 1 https://github.com/foreseeti/svgSalamander.git

install:
  - echo "Installing maven-jlink-plugin..."
  - cd maven-jlink-plugin
  - mvn install --quiet --batch-mode --define maven.test.skip=true
  - echo "Installing javapoet..."
  - cd ../javapoet
  - mvn install --quiet --batch-mode --define maven.test.skip=true
  - echo "Installing svgSalamander..."
  - cd ../svgSalamander/svg-core
  - mvn install --quiet --batch-mode --define maven.test.skip=true
  - cd ../..

before_script:
  - echo "Cleaning up cloned dependencies"
  - rm -rf maven-jlink-plugin
  - rm -rf javapoet
  - rm -rf svgSalamander

script:
  - echo "Installing mal..."
  - mvn clean install --quiet --batch-mode
  - echo "Installing mal.lib..."
  - cd mal.lib
  - mvn clean install --quiet --batch-mode
  - echo "Installing mal.cli..."
  - cd ../mal.cli
  - mvn clean install --quiet --batch-mode
  - echo "Installing mal.test..."
  - cd ../mal.test
  - mvn clean install --quiet --batch-mode
  - echo "Installing mal.img..."
  - cd ../mal.img
  - mvn clean install --quiet --batch-mode
  - echo "Installing mal-maven-plugin..."
  - cd ../mal-maven-plugin
  - mvn clean install --quiet --batch-mode
  - echo "Testing update_mal.py..."
  - cd ../update_mal
  - ./run-tests.sh
  - cd ..
  - mvn clean verify --quiet --batch-mode
  - mvn sonar:sonar --quiet --batch-mode --define sonar.projectKey=mal-lang_malcompiler --define sonar.java.coveragePlugin=jacoco --define sonar.dynamicAnalysis=reuseReports --define sonar.jacoco.reportPath="$PWD/mal.test/target/jacoco.exec" --define sonar.language=java
